{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDO</title>
    <!-- <link rel="stylesheet" href="sty;es/style.css"> -->
    <link rel="stylesheet" href="{% static 'sty;es/style.css'%}">
    <link rel="stylesheet" href="{% static 'sty;es/stylechecbox.css'%}">
</head>

<body>

    <div class="wrapper">
        <div class="create-block">
            <input type="text" placeholder="add a new task" class="create-input">
            <button class="create-button" type="submit">добавить</button>
        </div>
        <div class="todo-block">
            {% for todo in todo_list%}
            <div class="todo-item">
                <div class="todo-item__header">
                    <div class="block_check">
                        <input class="input" type="checkbox" name="task" id="{{todo.text}}">
                        <label for="{{todo.text}}"><img src="{%static 'icons/check.svg'%}" alt=""></label>
                    </div>
                    <h4>{{todo.text}}</h4>
                </div>
                <div class="todo-item__footer">
                    <p>{{todo.created_at}}</p>
                    <div class="action_buttons">
                        <div class="star"><img src="{% static 'icons/star.svg'%}" alt=""></div>
                        <div class="delete"><img src="{% static 'icons/hh.svg'%}" alt=""></div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>

</body>

</html>